body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.webcam {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.classify-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.classify-button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.bin-color {
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
}

.blue {
  background-color: #2196F3;
}

.green {
  background-color: #4CAF50;
}

.yellow {
  background-color: #FFEB3B;
  color: black; /* For better readability */
}

.brown {
  background-color: #795548;
}

.black {
  background-color: #9E9E9E;
}

.gray {
  background-color: gray;
}

.orange {
  background-color: rgb(235, 111, 9);
}
